
body{
font-family: "DM Mono", Arial, serif;
font-size: smaller;
}

.upperDiv{
    height: 100vh;
    position:relative;
    
}
.name{
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
}

.fa-rotate-5 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.parallax {
    /* The image used */
    background-image: url('/images/HD-wallpaper-black-and-silver-laptop-computer-on-white-table.jpg');
   /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(255, 144, 0, 0.9);/* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  }

  .centered-div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
    .timeline{
        position:relative;
        max-width: 1200px;
    }
  .timeline-container{
    position:relative;
    width:50%;
    padding: 10px 50px;
  }

  /* .timeline-left {
    left:0;
  } */
  .timeline-right {
    left:50%;
  }
  .timeline-badge {
        height:50px;
        width:50px;
        background: rgb(255, 144, 0);
        border-radius: 100%;
        text-align: center;
        padding-top: 15px;
        color:aliceblue
  }
  .timeline-badge-left{
    position:absolute;
    right:-27px;
    top:32px;
    z-index: 1;
  }

  .timeline-badge-right{
    position:absolute;
    left:-23px;
    z-index: 1;
  }

  .timeline-left :nth-of-type(2) ::after {
    content:'';
    position:absolute;
    width:2px;
    height: 100%;
    background: rgb(167, 161, 161);
    right:-5px;
    top:0;
    z-index: -1;
}

.timeline-right :nth-of-type(2) ::before {
    content:'';
    position:absolute;
    width:2px;
    height: 100%;
    background: rgb(167, 161, 161);
    left:3px;
    top:0;
    z-index: -1;
}

@media only screen and (max-width: 800px) {
    .timeline-left :nth-of-type(2) ::after {
        content:'';
        position:absolute;
        width:2px;
        height: 100%;
        background: rgb(167, 161, 161);
        left:0;
        top:0;
        z-index: -1;
    }
    .timeline-badge-left{
        position:absolute;
        left:-25px;
        top:32px;
        z-index: 1;
      }

    .timeline-right {
        left:-3px;
    }
    .timeline-container{
        position:relative;
        width:100%;
        padding: 10px;;
    }
    .timeline{
        text-align: end;
    }
  }

  .servicesSection{
    background: rgb(255, 144, 0);
    color:white;
    text-align: center;
  }
  .serviceIcon{
    height:50px;
    width:50px;
    background: #000;
    border-radius: 100%;
    text-align: center;
    padding-top: 15px;
    margin-left: auto;
    margin-right:auto;
  }
